.gamePageCard__container{
    width:100%;
    padding: 0 3em;
    margin-bottom: 2em;
    margin-top: 1em;
}
.gamePageCard{
    width:100%;
    height: auto;
    padding: 3em;
    background-color: var(--primary);
    gap:2em;
    color:var(--base);
}
.gamePageCard img{
    width:30em;
    height: 15em;
}
.gamePageCard__details{
    flex-direction: column;
    gap: .5em;
}
.gamePageCard__details h1{
    font-weight: 500;
    margin-bottom: .25em;
}
.gamePageCard__details hr{
    border:1px solid cyan
}
.gamePageCard p{
    font-weight: 300;
}
.gamePageCard p span{
    color:var(--secondary);
    font-weight: 500;
}
@media screen and (max-width:1000px) {
    .gamePageCard{
        font-size: 1.8vw;
    }
    .gamePageCard img{
        width:18em;
        height: 12em;
    }
}
@media screen and (max-width:768px) {
    .gamePageCard__container{
        padding: 0 1em;
    }
    .gamePageCard__container h3{
        padding-left: 2em;
    }
    .gamePageCard{
        font-size: clamp(.9rem,2vw,2vw);
        flex-direction: column;
    }
    .gamePageCard img{
        width: 100%;
        height: auto;
    }
}