.gameShow{
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0 3em;
}
.gameShow > h3{
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: var(--base);
}
.gameShow__cards{
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}
.gameShow__card__details{
    flex-direction: column;
}
.gameShow__card__developerName{
    font-size: .8em;
    color:cyan
}
.gameShow__card__title{
    color:var(--base)
}
.gameShow__card{
    transition: transform ease-in-out .3s;
}
.gameShow__card img{
    border-radius: 2px;
}
.gameShow__card:hover{
    transform: scale(1.035);
}

@media screen and (max-width:768px) {
    .gameShow > h3{
        text-align: center;
    }
}