.hero{
    background-color: var(--heroColor);
    padding: 3em 2em;
}
.hero p{
    font-size: clamp(1.7em,2.6vw,2.5em);
    font-weight: 500;
    letter-spacing: 4px;
    animation: linearMove infinite 3s ease-in-out alternate-reverse;
    background: linear-gradient(to right,cyan 2%,var(--secondary));
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #3d3c47;
    -webkit-text-stroke: 5px transparent;
}
@keyframes linearMove {
    0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 100% 0px; }
}
#profileListItem{
    border-color: #3d3c47 !important;
}